html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}
/*
The canvas object has both object W/H and style W/H
this can be usd to scale the picture, Its bees seen for stretching
and perhaps comrpession is also  possible. IT woudl be helpful for studendt to
have a normalized 1000x1000 surface for starters, they shoudl not need to think in pixels 
setting the
#canvas {
    width:100%;
    height:100%;
}
*/

.CodeMirror {
    height: 1000px;
  }

.gutter.gutter-horizontal {
    cursor: col-resize;
    background-image: url('./modules/splitjs/grips/horizontal.png');
    background-repeat: no-repeat;
    background-position:center; 
}

.gutter.gutter-vertical {
    cursor: row-resize;
    background-image: url('./modules/splitjs/grips/vertical.png');
    background-repeat: no-repeat;
    background-position:center; 
}
